<head>
	<meta charset="UTF-8">
	<title>GoodGoods</title>
	<link rel="shortcut icon" href="/assets/img/icon_webs.png">
	<link rel="stylesheet" href="/assets/css/index.css">
	<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
</head>

<div class="main2">
    <div class="container">
        <div class="form-heading">いいねするためには<br>ログインしてください</div>
        <ul class="button-none">
            <a href="/signup" class="header-button">新規登録</a>
            <a href="/signin" class="header-button">ログイン</a>
        </ul>
    </div>
</div>