<div class="main">
    <div class="container">
        <div class="form-heading">ログイン</div>
        <div class="form">
            <div class="form-body2">
                <form action="/signin" method="post">
                    <p>ユーザー名<input name="name" placeholder="名前を入力" required></p>
                    <p>パスワード<input name="password" type="password" placeholder="パスワードを入力" required></p>
                    <input type="submit" value="ログイン">
                </form>
            </div>
        </div>
    </div>
</div>